{{ partial "header" . }}
    {{ partial "navbar" . }}
    <!-- Main -->
    <div id="main">
        <article class="post">
          <h2>抱歉!</h2>
          <p style="margin-bottom: 10px;">您所访问的页面到火星遛弯了！</p>
<pre>
  <big>你可以去其他地方逛一逛哦^_^  
  <i class="fa fa-home">&nbsp;</i><a href="/">返回首页</a>
  <i class="fa fa-edit">&nbsp;</i><a href="/blog/">博客频道</a>
  <i class="fa fa-user">&nbsp;</i><a href="/about/">关于我</a>   
  </big>
</pre>
        </article>
    </div>
    {{ partial "sidebar" . }}
{{ partial "footer" . }}
